TELEGRAM_BOT_TOKEN=
BSC_RPC_URL=https://bsc-dataseed1.binance.org/
DISTRIBUTOR_PRIVATE_KEY=
TOKEN_CONTRACT_ADDRESS=
PROJECT_WALLET=0x73f03D32fC7F57acBB8D09f2D9f0fEf5c4F594d7
ADMIN_TELEGRAM_IDS=
PORT=3001
FRONTEND_URL=http://localhost:3000
